.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #ffffff;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  .active{
    color: #3b82f6;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  
  @keyframes gradient {
    0% {
      background-position: 0% 0;
    }
    20% { 
      background-position: 0% 0;
    }
    50% { 
      background-position: 100% 0;
    }
    70% { 
      background-position: 100% 0;
    }
    100% { 
      background-position: 0% 0;
    }
  }
  
  .animate-gradient {
    animation: gradient 10s ease infinite;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, white, rgb(181, 212, 253), white);
  }

  
  